# **Plotting**

In [ ]:
!git clone https://github.com/deepanrajm/machine_learning.git

# General plot.**py**

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
x = np.random.random((10, 1))

print(x)

In [ ]:
plt.plot(x, '*-')
plt.show()

In [ ]:
x = np.linspace(0, 100, 50)
y = np.power(x, .5)
plt.plot(x, y, '+-')
plt.show()

In [ ]:
sns.set()
sns.lineplot(x, y)
plt.show()

# **Plotting Data from Dataset**

In [4]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd

In [21]:
data = pd.read_csv('machine_learning/Plotting/mobile_cleaned.csv')
data.head()

,sim_type,aperture,gpu_rank,weight,stand_by_time,processor_frequency,thickness,flash_type,front_camera_resolution,auto_focus,...,micro_sd_slot,screen_pixel_density,water_proof_rate,phone_width,expandable_memory,version,usb_type,battery_capacity,processor_rank,is_liked
0,0,12,55,155.0,250,1.3,10.5,5,2.00,0,...,4,2,3,67.8,64.0,5,3,2000,125,1
1,0,1,55,132.0,300,1.3,10.6,5,0.30,1,...,4,4,6,64.0,32.0,5,3,2000,165,1
2,0,9,55,142.0,329,1.5,8.5,5,2.00,3,...,4,9,6,72.0,32.0,6,3,2500,164,0
3,0,8,55,152.0,385,1.3,8.0,5,2.00,3,...,4,1,3,75.1,32.0,6,3,3000,165,1
4,1,1,55,234.0,385,1.3,7.9,5,1.92,3,...,4,1,6,91.0,32.0,6,3,3000,165,0

In [ ]:
data.describe()

# Uni-Variant

In [ ]:
sns.countplot(x ='sim_type', data = data)
plt.show()

In [ ]:
sns.distplot(data["stand_by_time"])
plt.show()

In [ ]:
sns.histplot(data=data, x="stand_by_time")
plt.show()

# Bi-Variant

In [ ]:
ax = sns.scatterplot(x="stand_by_time", y="battery_capacity", data=data)
plt.show()

In [ ]:
#Minimum, 25,50,75, max
ax = sns.boxplot(x="is_liked", y="battery_capacity", data=data)
plt.show()
#Minimum = Q1–1.5 * IQR and Maximum = Q3 + 1.5 * IQR

In [ ]:
ax = sns.boxplot(x = "expandable_memory", y = "price", data=data)
plt.show()

# Multi-Variant

In [ ]:
ax = sns.violinplot(x='expandable_memory', y='price', data=data,
               hue='is_liked', split=True)
plt.show()

In [ ]:
ax = sns.scatterplot(x = "stand_by_time", y = "battery_capacity", hue="thickness", data=data)
plt.show()

In [ ]:
dataframe = pd.read_csv("machine_learning/Plotting/iris.csv")
print(dataframe.head())


ax = sns.scatterplot(x="petal.length", y="petal.width",hue="variety",size = "sepal.width",data=dataframe)
plt.show()

In [ ]:
ax = sns.swarmplot(x='sepal.length', y='variety', data=dataframe)

In [ ]:
sns.pairplot(dataframe[['petal.length','petal.width','sepal.length','sepal.width']])
plt.show()

In [ ]:
sns.pairplot(dataframe, hue='variety')
plt.show()